/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */
body
{
    font-family: 'Roboto', sans-serif;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 220px;
  width: 0;
  height: 100%;
  margin-left: -220px;
  overflow-y: auto;
  background: #fff;
 
  background: #ffffff;
  z-index: 1030;
  -webkit-transition: all 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;

}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0px;
    background-color: #EFEFEF;
    min-height: 800px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 7px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #464646;
    padding: 7px 0;
    font-size: 14px;
 
    font-weight: 500;

   
}
.sidebar-nav li a i
{
    padding-right: 15px;
    font-size: 16px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    padding: 7px 0;
    background: #f7f7f7;
  color: #607d8b;
  border-right: 3px solid #6ab344;
}

.sidebar-nav li.active a
{
     background: #f7f7f7;
  color: #607d8b;
   padding: 7px 0;
   border-right: 3px solid #6ab344;

} 
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
    background: #f7f7f7;
  color: #607d8b;
}

.sidebar-nav > .sidebar-brand {
    height: 51px;
  
    line-height: 25px;
    padding: 10px 10px 10px 50px;
    background-color: #6ab344;

}

.sidebar-nav > .sidebar-brand a {
    color: #ffffff;
      font-size: 18px;
    font-weight: bold;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 220px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 220px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 45px;
    }

    #page-content-wrapper {
        padding: 0px;
        position: relative;

    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
         padding-left: 45px;
    }
}