body
{
	background-color: #f5f5f5;
	font-family: 'Roboto Slab', serif; 
}
.search_bar
{
	padding: 30px;
}
.search_bar .input-group .form-control
{
	border-radius: 0;
	height: 30px;

}
.search_bar .input-group-btn:last-child>.btn, .search_bar .input-group-btn:last-child>.btn-group

{
	
	
	color: #ffffff;
	border-radius: 0;

}
.search_bar .input-group-btn:first-child>.btn, .search_bar .input-group-btn:first-child>.btn-group
{
	background: #ffffff;
	border: 1px solid #ccc; 
	color: #666;
	border-radius: 0;
}

.login a
{
   color: #fff;
    background: #6b869d;
  font-size: 10px;
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    line-height: 1;
    text-transform: uppercase;
    border: 1px solid #6b869d;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.login a.active,
.login a:hover,
.login a:focus {
    -webkit-box-shadow: 0px 0px 0px 2px #fff inset;
    -moz-box-shadow: 0px 0px 0px 2px #fff inset;
    box-shadow: 0px 0px 0px 2px #fff inset;
      background: #6b869d;
    text-decoration: none;
    color: #fff;
}
.login
{
	padding-top: 30px;
}
.topheader
{
	border-bottom: 1px solid #e6e6e6;
}
.header
{
	background-color: #6ab344;
	border-bottom: 1px solid #6ab344;
	border-top: 1px solid #6ab344;
	margin-bottom: 10px;
}
.menu .navbar
{
	min-height: 30px;
	margin-bottom: 0;
	background: transparent;
	border: none;
}
.menu .navbar-default .navbar-nav>.active>a, .menu .navbar-default .navbar-nav>.active>a:focus, .menu .navbar-default .navbar-nav>.active>a:hover, .menu .navbar-default .navbar-nav>li>a:hover
{
	color: #666;
	background-color: #ffffff;
	padding: 10px 20px;
	border-top: 3px solid #f0ad4e;
}
.menu .navbar-default .navbar-nav>li>a
{
	color: #ffffff;
	padding: 10px 20px;
	border-top: 3px solid transparent;
}
.mb5
{
	margin-bottom: 5px;
}

.fp .panel-heading
{
	background-color: transparent;
	color: #009688;

}
.fp .panel-heading h3
{
	font-size: 14px;
}
.fp .panel
{
	border-radius: 0;
	margin-bottom: 10px;
}

.fp p
{
	font-size: 12px;
}
.pc
{
	padding-left:5px;
	padding-right: 5px; 
}
.pc10
{
	padding-right: 5px;
	padding-left: 10px;
}
.title1
{
	border-bottom: 5px solid #e74c3c;background-color: #F0EFE7;padding: 0px;
}
.mb15
{
	margin: 0 0 15px 0;
}
.title1 h6
{
	color:#666;font-weight:700;font-size:16px;
}
.titlehr
{
	border-top:1px solid #ccc; margin:-3px 0 0 0;
}
.pt1
{
	border-radius: 0;
	background-color: #fff;
	border-top: 5px solid #673AB7;
	border-bottom:1px solid #666;
	font-weight: bold;font-size: 16px;
	color:#666;
}
h6.t2
{
	margin-top:10px;margin-bottom:0px;font-weight:bold;
}
.icon-c
{
	padding-left:25px;color:#6ab344;
}


.mf .panel
{
margin-bottom: 0;
}
.mf-title .panel-heading
{
	border-radius: 0;background-color: #fff;border-top: 5px solid #F44336;border-bottom: 1px solid #666;font-weight: bold;font-size: 16px;color:#666;
}
.vs
{
	margin-top:10px;
	margin-bottom:0;
	font-weight:bold;
}
.team-title
{
	margin:0; color:#3E50B4;font-weight:bold;font-size:11px;line-height: 15px;
}

.redtext
{
	margin:0; color:#FE5621;font-size:11px;line-height:15px;font-weight:bold;
}

.se .panel-heading
{
	border-radius: 0;background-color: #fff;border-top: 5px solid #2196F3;
    border-bottom: 1px solid #666;font-weight: bold;font-size: 16px;color:#666;
}

.seh6
{
	margin:0; font-size:13px;line-height:15px; color:#009688;font-weight:bold;
}

.sep
{
	margin-top:5px; margin-bottom:0 ; line-height:12px;font-size: 12px;
}
.sep2
{
	margin-top:5px; margin-bottom:0 ; line-height:12px;font-size: 12px;
}
.se 
{
margin-bottom: 0;
}
.en .panel-heading
{
	border-radius:0;background-color: #fff;border-top: 5px solid #009688;border-bottom:1px solid #666;font-weight:bold;font-size:16px;color:#666;
}
.en li
{
	border-bottom: 1px solid #ccc;width: 100%;padding-left: 5px;padding: 5px;color: #ccc;
}
.en li a
{
	
	  color: #888888;
}

.social a
{
	font-size: 20px;
	padding: 0 2px;
}
.social .fa-facebook-square
{
	color: #3a5795;
}
.social .fa-twitter-square
{
	color: #0084B4;
}
.social .fa-linkedin-square
{
	color: #287bbc;
}
.social .fa-pinterest-square
{
	color: #ab171e;
}
.social p
{
	color: #666;
	font-size: 12px;
	font-weight: 600;
}



.gallery .panel-heading
{
	padding: 15px;
	border-radius: 0;
}


.gallery .panel-default>.panel-heading
{
	
	background-color: #3F51B5;
	color: #ffffff;
}
.gallery .panel-default>.red
{
	background-color: #F44336;
	color: #ffffff;
}

.nohover a
{
	text-decoration: none;
}
.panel
{
	margin-bottom: 0;
}

footer
{
	background-color: #333333;
	margin-top: 20px;
	padding: 20px 0 0px 0;
	font-family: 'Roboto Slab', serif;

}
footer  h5
{
	color: #d3d3d3;
}
footer a
{
	color: #d3d3d3;
	line-height: 27px;
	font-size: 14px;
}

footer a:hover
{
	color: #F44336;
	text-decoration: none;
}
.shadow:hover
{
	  -webkit-box-shadow: 0 0 5px 2px #ccc;
    -moz-box-shadow: 0 0 5px 2px #ccc;
    box-shadow: 0 0 5px 2px #ccc;
}


.gal-title
{
	border-bottom: 5px solid #009688;
    background-color: #F0EFE7;
    padding: 0px;
}


.gal-title h6
{
	color:#666;
	font-weight:700;
	font-size:16px;
}
.vgal
{
	border-bottom: 5px solid #FF6D00;
    background-color: #F0EFE7;
    padding: 0px;
}
.vgal h6
{
	color:#666;
	font-weight:700;
	font-size:16px;
}

.modalbg
{
	background-color:#2196F3;
}
.modalhead
{
	background-color:#424242;
	color:#fff;
	border-bottom:1px solid #ccc;
	-webkit-box-shadow: -1px 4px 5px 0px rgba(0,0,0,1);
	-moz-box-shadow: -1px 4px 5px 0px rgba(0,0,0,1);
	box-shadow: -1px 4px 5px 0px rgba(0,0,0,1);
}
.closebtn
{
	color:#fff;
}
.closeop
{
	opacity:1;color:#fff;
}
.modalbd
{
	min-height:200px;background-color:#e6e6e6;oveflow:hidden;
}
.modalp
{
	position: absolute;top: 40%;left: 38%;z-index: 1000;
}
.orspan
{
	border:1px solid #009688;border-radius:50%;padding:10px;background-color:#009688;color:#fff;
}
.divbor
{
	border-right:1px solid #666;
}
.pt30
{
	padding-top:30px;
}
.modlif
{
	background-color:#3b5998; border-radius:0;color:#fff; border-color:#3b5998;width:150px;margin-bottom:10px;
}
.modlit
{
	background-color:#2AA9E0; border-radius:0;color:#fff; border-color:#2AA9E0; width:150px;margin-bottom:10px;
}
.modlil
{
	background-color:#0177B5; border-radius:0;color:#fff; border-color:#0177B5; width:150px;margin-bottom:10px;
}

.pt25
{
	padding-top:25px;
}
.pt40
{
	padding-top:40px;
}
.minh30
{
	min-height:30px;
}
.nobr
{
	border-radius:0;
}
.forgotpli
{
	color:#666;margin-top:30px;
}
.p1020
{
	padding:10px 20px;
}
.adonhv
{
	color:#009688;padding-top:8px;
}
.loginbtn
{
	background-color:#009688;border-color:#009688;border-radius:0;
}

.regbtn
{
	background-color:#009688;border-color:#009688;border-radius:0;float:right;margin-bottom:10px;margin-right:20px;
}
.p1040
{
	padding:10px 40px 10px 10px;
}
.loa
{
	padding-top: 8px;color:#009688;
}


h4.ui
{
	color:#F44336;margin-bottom:20px;
}











@media screen and (max-width: 769px){
.slider
{
	margin-bottom: 5px;
}
.ads
{
	margin-bottom: 10px;
}
.login
{
	padding-top: 10px;
}
.login a
{
	padding: 5px 3px;
	font-size: 8px;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
{
	background-color: #fff;
}
.search_bar
{
	padding: 0 0 10px 0;
}
}

@media screen and (min-width: 769px) and (max-width: 1200px) { 
.sm-mar
{
	margin: 0;
}
.menu .navbar-default .navbar-nav>.active>a, .menu .navbar-default .navbar-nav>.active>a:focus, .menu .navbar-default .navbar-nav>.active>a:hover, .menu .navbar-default .navbar-nav>li>a:hover
{
	padding: 10px;
}
.menu .navbar-default .navbar-nav>li>a
{
	padding: 10px;
	font-size: 12px;
}
.fp p
{
	font-size: 10px;
}
}

@media screen and (min-width: 769px){
	.p0
{
	padding: 0;
}

}

.loggedin
{
	padding-top: 25px;
	text-align: right;
}
.loggedin span
{
	font-size: 12px;
	color: #666;
	padding-right: 10px;
}
.banner-title
{
	background-color: #e6e6e6;
	padding: 30px 0;
	margin-top: 30px;
	-moz-box-shadow:inset 0 0 5px #ccc;
   -webkit-box-shadow: inset 0 0 5px #ccc;
   box-shadow: inset 0 0 5px #ccc;
}
.banner-title h2
{
	color: #888888;
	text-transform: uppercase;
	margin: 0;
	font-weight: 800;
	margin-left: 20px;	
	text-shadow: -3px -1px 2px rgba(201, 201, 201, 1);
	 -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #666;
   	 -moz-text-stroke-width: 1px;
   -moz-text-stroke-color: #666;
}
.lightbg
{
	background: #f5f5f5;
	padding: 30px;
}
.whitebg
{
	background-color: #ffffff;
	padding: 20px 30px;
	border: 1px solid #e6e6e6;
}
.banner p
{
	text-align: justify;
	color: #999;
	font-size: 13px;
}
.banner h3
{
margin-top: 0;
margin-bottom: 5px;
color: #388E3C;
font-weight: 500;
font-family: 'Roboto Slab', serif; 
text-transform: capitalize;
text-shadow: 1px 1px #ccc;
}
hr.orange
{
border-top:2px solid #ffc107;
margin-top: 0;
}
.banner h5
{
margin-top: 0;
color: #888;
font-size: 17px;
font-weight: 400;

}
.banner .nav-pills>li.active>a, .banner .nav-pills>li.active>a:focus, .banner .nav-pills>li.active>a:hover
{
	background-color: #009688;
	border-radius: 0;
	color: #ffffff;
}
.banner .nav
{
	border: 1px solid #e6e6e6;
}
.banner .nav-pills>li>a
{
	color: #666;
}

.newheader .navbar-inverse {
	padding: 5px 0;
}
.newheader .navbar-inverse
{
	background: #009688;
	border: 1px solid #009688;	
	border-color: #009688;
	border-radius: 0;
}
.newheader .navbar-inverse .navbar-nav>.open>a, .newheader .navbar-inverse .navbar-nav>.open>a:focus, .newheader .navbar-inverse .navbar-nav>.open>a:hover
{
	background: none;
	
}
.newheader .navbar>.container .navbar-brand, .newheader .navbar>.container-fluid .navbar-brand
{
	color: #ffffff;
	font-size: 20px;
	text-shadow: -2px -1px 2px rgba(114, 114, 114, 1);
}
.newheader .navbar>.container .navbar-brand:first-letter, .newheader .navbar>.container-fluid .navbar-brand:first-letter
{
	font-size: 28px;
	color: #ffc107;
}

.newheader .navbar-inverse .navbar-nav>li>a
{
	color: #ffffff;
	border-bottom: 3px solid #009688;
	text-transform: uppercase;
	font-size: 12px;
}
.newheader .navbar-inverse .navbar-nav>li>a:after
{
display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 3px;
  background-color: #ffc107;
  content: "";
  transition: width 1s;
}
.newheader .navbar-inverse .navbar-nav>li>a:before
{
display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 3px;
  background-color: #ffc107;
  content: "";
  transition: width 1s;
}


.newheader .navbar-inverse .navbar-nav>.active>a, .newheader .navbar-inverse .navbar-nav>.active>a:focus, .newheader .navbar-inverse .navbar-nav>.active>a:hover
{
	background: none;
	border-bottom: 3px solid #ffc107;
}
.newheader .navbar-inverse .navbar-nav>li>a:hover
{
	background: none;
	color: #ffffff;

}
.newheader .navbar-inverse .navbar-nav>li>a:hover:after
{
	 width: 100%;
}
.newheader .navbar-inverse .navbar-nav>li>a:hover:before
{
	 width: 100%;
}


.newheader .navbar-right 
{
	margin: 10px 0;
}
.newheader .navbar {
	-webkit-box-shadow: 0px 3px 5px 0px rgba(187,187,187,1);
-moz-box-shadow: 0px 3px 5px 0px rgba(187,187,187,1);
box-shadow: 0px 3px 5px 0px rgba(187,187,187,1);
}

/*search bar styles starts here*/

.search-box {
  -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
          transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #ebebeb;
}
.search-box + label .search-icon {
  color: black;
}
.search-box:hover {
  color: #ffffff;
  background: #009688;
  box-shadow: 0 0 0 3px #FFC107;
}
.search-box:hover + label .search-icon {
  color: white;
}
.search-box:focus {
  -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
          transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 200px;
  border-radius: auto;
  background: #ebebeb;
  color: black;
}
.search-box:focus + label .search-icon {
  color: black;
}
.search-box:not(:focus) {
  text-indent: -5000px;
}

#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  position: relative;
  left: -30px;
  color: white;
  cursor: pointer;
}

/*search bar styles ends here*/
.min400
{
	min-height: 400px;
	overflow: auto;
}