#menu-toggle { color: #ffffff;font-size: 25px;font-weight: lighter;}
.topbar { height: 51px; background-color: #6ab344; padding: 0px;-webkit-box-shadow: 0px 3px 5px 0px rgba(204,204,204,1);-moz-box-shadow: 0px 3px 5px 0px rgba(204,204,204,1);box-shadow: 0px 3px 5px 0px rgba(204,204,204,1); }
#page-content-wrapper .panel { border-radius: 0px;-webkit-box-shadow: 0 0 5px 2px #e6e6e6;-moz-box-shadow: 0 0 5px 2px #e6e6e6;box-shadow: 0 0 5px 2px #e6e6e6;}
.hrgreen {border-top:2px solid #6AB344;	margin-top:5px; }
.bluepanel p, .greenpanel p, .greypanel p, .pinkpanel p { margin-bottom: 0; margin-top: 20px;}
.roundicon{	background-color: #EF5350; color: #ffffff; border-radius: 50%; padding: 10px 15px;font-size: 18px;}
.discussion {padding: 10px 0;}
.discussion h5 {margin-top: 0;}
.discussion p {	color: #666;}
.topiclist span{ font-size: 20px;}
.roundicon1 {background-color: #2196F3;	color: #ffffff;	border-radius: 50%;	padding: 10px 15px;	font-size: 18px;}
.roundicon2 {background-color: #009688;	color: #ffffff;	border-radius: 50%;	padding: 10px 15px;	font-size: 18px;}
.dis-comment p {margin: 0;font-size: 12px;line-height: 18px;}
.discuss-control {margin-bottom: 20px;}
.discbread {background-color: #ffffff;margin-bottom: 0;}
.discbread a {font-size: 18px;line-height: 18px;color: #666;}
.topic-controls a { padding-left: 30px;	color: #666;}
.blogs h5 {	color: #3F51B5;	font-size: 18px;margin-bottom: 5px;}
.blogs p{color: #8c8c8c;font-weight: 500;text-align: justify;}
.blogs span{ float: right;}
.blog-tags a {background-color: #ffffff;padding: 5px 20px;color: #8c8c8c;border: 1px solid #e6e6e6;}
.blog-tags a:visited, .blog-tags a:hover, .blog-tags a:focus{text-decoration: none;}  
.blog-tags{	padding: 10px;	border: 1px solid #e6e6e6;}
.blog-tags a:hover{	background-color: #DDBE86;	color: #ffffff;}
.tag-title{	font-size: 16px;	text-align: center;	background-color: #DDBE86;	margin: -20px 40px 10px 40px;	padding: 5px;}
.tag-title h5{margin: 0;color: #ffffff;}
.recent-posts-title h5{	text-align: center;	color: #8c8c8c;}
.recent-posts-title {background-color: #DDBE86;padding: 10px;margin-bottom: 10px;}
.recent-posts-title h5{	color: #ffffff;	margin: 0;	text-align: left;}
.recent-posts h6, .recent-posts p{margin: 0;}
.news-letter{padding: 10px;	border: 1px solid #f5f5f5;	margin-top: 30px;}
.news-letter h6{text-align: center;	font-size: 16px;	color: #666;	margin: 0;}
.news-letter  input.form-control {border: 1px solid #e6e6e6;margin: 10px 0 0 0;}
.news-letter a.submit{background-color: #222;	color: #ffffff;	padding: 5px 101px;}
.socialicons{padding: 0 5px;}
.socialicons .fa{	font-size: 25px;	line-height: 25px;}
.comments{	padding: 10px;}
.comments h5{	font-size: 17px;	color: #DDBE86;	margin: 0;}
.comment-form  input.form-control, .comment-form  textarea, .jobs input.form-control, .jobs  textarea, .jobs select, .jobs select.form-control{ border: 1px solid #e6e6e6; width: 100%; padding: 5px 10px;}
.comment-form h5{	color: #DDBE86;}
#showmenu{	cursor: pointer;	font-size: 18px;	text-align: center;}
.comment-form .form-inline .form-group {width: 100%;}
.menu{	border-top: 1px solid #DDBE86;	padding: 30px 0;}
#showmenu:hover {	color: #DDBE86;}
.mt20{	margin-top: 20px;}
.commentbtn{	margin-right: 20px;}
.blog-auth-title{	background-color: #DDBE86;	padding: 10px;	margin-bottom: 10px;}
.blog-auth-title h5{	color: #ffffff;	margin: 0;	text-align: left;}
.blog-auth img{	margin: 0 auto 10px auto;}
.blog-auth p{padding-top: 20px;}
.blogs a{	color: #DDBE86;}
.jobs .form-horizontal .control-label{	text-align: left;}
.mt20{	margin-top: 20px;}
.jobs-ov h5, .jobs-ov p{margin: 2px 0;color: #666;}
.green_hr{	border-top:2px solid #6AB344;	margin-top:5px;}	
.user-form .control-label{	text-align: left;	font-weight: bold;}
.user-form .label-info{	background-color: #2196F3;}
.boldtext{	font-weight: bold;}
.profile-pic {margin: 18px 0 2px  0;font-weight: bold;font-size: 13px; line-height: 1.846; color: #666666;}
.category-title{margin-top: 30px;}
.user-type{	font-size: 15px;	font-weight: normal;	margin-top: 10px;}
.greybg{	background-color: #f5f5f5;	padding: 10px;	border: 1px solid #e6e6e6;}
.greybg .input{	color: #666;}
.submbtn{	padding-top: 20px;}
.user-form textarea, .user-form textarea.form-control{	border: 1px solid #e6e6e6;	height: 130px;}
textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control{	font-size: 13px;	border: 1px solid #e6e6e6;	padding: 5px;}
select, select.form-control{	font-size: 13px;}
.pt10{	padding-top: 10px;}
.greentext{	color: #6AB344;}
select, select.form-control{	border: 1px solid #e6e6e6;}
.p0{	padding: 0;}
.user-form .well{	border-top: 1px solid #e6e6e6;	border-bottom: 1px solid #e6e6e6; }
.user-form .panel{	padding: 20px 15px;}
.typec {padding: 0;font-weight: bold;}
.mb40{	margin-bottom: 40px;}
.p20 { padding: 20px 40px 20px 10px;}
.p10{ padding: 0px 40px; }
a:hover { text-decoration: none;}
.m0{margin-bottom: 0}
.mb10{	margin-bottom: 10px;}
.h5panel { font-size: 15px;	color: #ffffff;}
.bluepanel { background-color: #5C6BC0;color: #e6e6e6;}
.greenpanel { background-color: #009688;color: #e6e6e6;}
.greypanel { background-color: #607D8B;	color: #e6e6e6;}
.pinkpanel { background-color: #F48FB1;	color: #e6e6e6;}
.redb {	border-right: 3px solid #EF5350;}
.blueb {border-right: 3px solid #2196F3;}
.greenb {border-right: 3px solid #009688;}
.pl20{padding-left: 20px;}

/*Events  Styles Starts Here*/

.events .tabbg
{
	background-color: #f5f5f5;
	border: 1px solid #ccc;
}
.events .nav-tabs>li.active>a, .events .nav-tabs>li.active>a:focus
{
	color: #ffffff;
	background-color: #795548;
	border-radius: 0;
	text-align: center;
}

.events .nav-tabs>li>a, .events .nav-tabs>li>a:focus
{
color: #666;
box-shadow: none;
background-color: #f5f5f5;
text-align: center;
font-size: 14px;

}
.events .nav-tabs>li, .events .nav-tabs>li.active
{
	width: 50%;

}


.events .tab-content
{

	border: 1px solid #e6e6e6;
}
.margin0
{
	margin: 0;
}

.events .tab-content>.tab-pane
{
	padding: 20px;
}

.events .input-group .form-control:first-child, .events .input-group-addon:first-child, .events .input-group-btn:first-child>.btn, .events .input-group-btn:first-child>.btn-group>.btn, .events .input-group-btn:first-child>.dropdown-toggle, .events .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-group:not(:last-child)>.btn
{
	height: 38px;
}

.panel-default>.panel-heading.olivebg
{
	background: #00897B;
	color: #ffffff;
}
.ui-widget-header
{
	background: #795548;
	color: #ffffff;
}


.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight
{
	background: #626262;
	color: #ffffff;
	border: 1px solid #626262;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
	text-align: center;
}
.events h4
{
	margin: 0;
	margin-bottom: 10px;
	font-size: 20px;
	color: #444;

}

.eventparam
{
	margin: 10px 0 0 0;
	color: #999;
}
.eventparam span
{
	padding: 0 20px 0 0;
}

.events .panel
{
	webkit-box-shadow: 0 0 0px 1px #e6e6e6!important;
    -moz-box-shadow: 0 0 0px 1px #e6e6e6!important;
    box-shadow: 0 0 0px 1px #e6e6e6!important;
}
.ui-widget-content
{
	border: 1px solid #e6e6e6;
	border-radius: 0;
	
}
.new-event
{
	margin-bottom: 20px;
}
.new-event .btn
{
	border-radius: 0;
	color: 
}
/*Events  Styles Ends Here*/

#footer_wrap {
    position: fixed;
    bottom: 0;
    height: 84px;
}
footer {
    position: absolute;
    bottom: 0;
    z-index: 9999;    
    position: relative; 
}
#footer_arrow {
    position: absolute;
    width: 61px;
    height: 23px;
    top: -23px;
    left: 50%;
    background: url(http://www.placehold.it/61x23) 0 0 no-repeat;
    z-index: 9999;
    cursor: pointer;
}

.down {
    bottom: -84px !important;
}
.mt50
{
	margin-top: 50px;
}
.create_event .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .create_event .nav-tabs>li.active>a:hover, .create_event .nav-tabs>li>a:focus, .create_event .nav-tabs>li>a:hover
{
background-color: #795548;
color: #ffffff;
-webkit-box-shadow: inset 0 -2px 0 #666;
   box-shadow: inset 0 -2px 0 #666; 
   border-radius: 0;
}
.create_event .nav-tabs>li
{
	border:1px solid #e6e6e6;
}
.bord
{
	border:1px solid #e6e6e6;
	padding: 20px;
	height: auto;
	overflow: auto;
}
.create_event legend
{
	color: #666;

}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(106,179,68); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(106,179,68); 
}

.tournament_form  label
{
 text-align: left!important;
}
.create_event h4, .create_event h5
{
	margin-top: 0;
	color: #666;
}
.mt30
{
	margin-top: 25px;
}
.create_event textarea
{
	border:1px solid #e6e6e6;
}
.input-group.date .input-group-addon
{
	border:1px solid #e6e6e6;
	background-color: #f5f5f5;
}