body
{
	background-color: #f0efe7;
	font-family: 'Roboto Slab', serif; 
}
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
*
{
	margin: 0;
	padding: 0;
}


.topbar
{
	border-bottom: 1px solid #ccc;
	background-color: #f0efe7; 
	/*-webkit-box-shadow: -2px 1px 5px 0px rgba(204,204,204,1);
-moz-box-shadow: -2px 1px 5px 0px rgba(204,204,204,1);
box-shadow: -2px 1px 5px 0px rgba(204,204,204,1);*/
}
.search_bar
{
	padding: 20px;
}
.search_bar .input-group .form-control
{
	border-radius: 0;
	height: 30px;

}
.search_bar .input-group-btn:last-child>.btn, .search_bar .input-group-btn:last-child>.btn-group

{
	
	
	color: #ffffff;
	border-radius: 0;

}

.sh
{
	-webkit-box-shadow: 0 0 5px 2px #e6e6e6;
    -moz-box-shadow: 0 0 5px 2px #e6e6e6;
    box-shadow: 0 0 5px 2px #e6e6e6;
}
.panel-default
{
	border-radius: 0;
}

.search_bar .input-group-btn:first-child>.btn, .search_bar .input-group-btn:first-child>.btn-group
{
	background: #ffffff;
	border: 1px solid #ccc; 
	color: #666;
	border-radius: 0;
}



.login a
{
   color: #fff;
    background: #6b869d;
  font-size: 10px;
    font-weight: bold;
    display: inline-block;
    padding: 8px;
    line-height: 1;
    text-transform: uppercase;
    border: 1px solid #6b869d;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.login a.active,
.login a:hover,
.login a:focus {
    -webkit-box-shadow: 0px 0px 0px 2px #fff inset;
    -moz-box-shadow: 0px 0px 0px 2px #fff inset;
    box-shadow: 0px 0px 0px 2px #fff inset;
      background: #6b869d;
    text-decoration: none;
    color: #fff;
}
.social a
{
	font-size: 20px;
	padding: 0 2px;
}
.social .fa-facebook-square
{
	color: #3a5795;
}
.social .fa-twitter-square
{
	color: #0084B4;
}
.social .fa-linkedin-square
{
	color: #287bbc;
}
.social .fa-pinterest-square
{
	color: #ab171e;
}
.social p
{
	color: #666;
	font-size: 12px;
	font-weight: 600;
}
.header
{
	background-color: #6ab344;
	border-bottom: 1px solid #6ab344;
	border-top: 1px solid #6ab344;
}
.menu .navbar
{
	min-height: 30px;
	margin-bottom: 0;
	background: transparent;
	border: none;
}
.menu .navbar-default .navbar-nav>.active>a, .menu .navbar-default .navbar-nav>.active>a:focus, .menu .navbar-default .navbar-nav>.active>a:hover, .menu .navbar-default .navbar-nav>li>a:hover
{
	color: #666;
	background-color: #ffffff;
	padding: 10px 20px;
	border-top: 3px solid #f0ad4e;
}
.menu .navbar-default .navbar-nav>li>a
{
	color: #ffffff;
	padding: 10px 20px;
	border-top: 3px solid transparent;
}
.slider .carousel-control.right, .slider .carousel-control.left
{
	background: none;
}
.slider 
{
	    padding: 10px 0 10px 10px;
}


 .demo-card-wide.mdl-card {
    width: 100%;
    max-height: 150px;
    margin-top: 5px;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 120px;
    background: url('http://health.uq.edu.au/filething/get-styled/study_area_hero_825x320/3683/Exercise-and-Sport-Sciences6.jpg?itok=5taM4M60') center / cover;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
  .row2 .demo-card-wide.mdl-card
  {
  	 width: 100%;
    height: 100px;
    margin-top: 0px;
  }
.row2 .mdl-card
{
	min-height: 120px;
}
.mdl-card__actions {
    padding: 5px 10px 10px 0!important;
    }
  .mt20
{
	margin-top: 10px;
}

.ahover:hover
{
	text-decoration: none;
}
#carousel-example-generic1 .carousel-control.left, #carousel-example-generic1 .carousel-control.right
{
	background: none;
}
#carousel-example-generic1 .carousel-caption
{

}

.modal-dialog
{
	margin: 100px auto;
}
.modal-content
{
	border-radius: 0px;
}

.modal-header
{
	min-height: 16.43px;
    padding: 10px 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #6AB344;
    color: #fff;

}
.modal-title
{
	font-size: 20px;
	margin:  0;
}

.gallery .panel-heading
{
	padding: 15px;
	border-radius: 0;
}


.gallery .panel-default>.panel-heading
{
	
	background-color: #3F51B5;
	color: #ffffff;
}
.gallery .panel-default>.red
{
	background-color: #F44336;
	color: #ffffff;
}

.nohover a
{
	text-decoration: none;
}
.panel
{
	margin-bottom: 0;
}

footer
{
	background-color: #333333;
	margin-top: 20px;
	padding: 20px 0 0px 0;
	font-family: 'Roboto Slab', serif;

}
footer  h5
{
	color: #d3d3d3;
}
footer a
{
	color: #d3d3d3;
	line-height: 27px;
	font-size: 14px;
}

footer a:hover
{
	color: #F44336;
	text-decoration: none;
}
.shadow:hover
{
	  -webkit-box-shadow: 0 0 5px 2px #ccc;
    -moz-box-shadow: 0 0 5px 2px #ccc;
    box-shadow: 0 0 5px 2px #ccc;
}
