
<!-- Registration Modal Starts Here -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="background-color:#2196F3;">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#424242;color:#fff;border-bottom:1px solid #ccc;-webkit-box-shadow:1px 4px 5px 0px rgba(0,0,0,1);-moz-box-shadow: -1px 4px 5px 0px rgba(0,0,0,1);box-shadow: -1px 4px 5px 0px rgba(0,0,0,1);">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity:1;color:#fff"><span aria-hidden="true" style="color#fff">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">GetSportiv Register</h4>
      </div>
      <div class="modal-body " style="background-color:#e6e6e6;padding-bottom:0">
        <div class="row">
         
          <div class="col-md-5 col-lg-5" style="border-right:1px solid #666;min-height: 320px;">
            
          <h4 style="color:#F44336;margin-bottom:20px;">User Identity</h4>
          <div class="radio" style="margin-bottom:20px;">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Enthusiast
            </label>
          </div>
           <div class="radio" style="margin-bottom:20px;">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Player
            </label>
          </div>
          <div class="radio" style="margin-bottom:20px;">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">Professional 
            </label>
          </div>
          <div class="radio" style="margin-bottom:20px;">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">Sport Medicine 
            </label>
          </div>
          <div class="radio" style="margin-bottom:20px;">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios5" value="option5">Organization 
            </label>
          </div>
          <div class="radio" style="margin-bottom:20px;">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios6" value="option6">Team
            </label>
          </div>
          <div class="radio" style="margin-bottom:20px;">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios7" value="option7">Fitness Center/Gymnasium
            </label>
          </div>
          <div class="radio" style="margin-bottom:20px;">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios8" value="option8">Event Management
            </label>
          </div>
          <div class="radio" style="margin-bottom:20px;">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios9" value="option9">Infrastructure Management
            </label>
          </div>
        </div>
          <div class="col-md-7 col-lg-7">
           <p class="text-center"><a href="#" class="btn btn-default " style="background-color:#3b5998; border-radius:0;color:#fff; border-color:#3b5998;width:142px;margin-bottom:10px;"> <span class="facebook"><i class="fa fa-facebook"></i></span> | Facebook</a>
             <a href="#" class="btn btn-default"style="background-color:#2AA9E0; border-radius:0;color:#fff; border-color:#2AA9E0; width:142px;margin-bottom:10px;"> <span class="twitter" ><i class="fa fa-twitter"></i></span> | Twitter</a>
           </p> 
           <p class="text-center"><a href="#" class="btn btn-default" style="background-color:#0177B5; border-radius:0;color:#fff; border-color:#0177B5; width:142px;margin-bottom:10px;"> <span class="linkedin" ><i class="fa fa-linkedin"></i></span> | LinkedIn</a>
               <a href="#" class="btn btn-default" style="background-color:#643D38; border-radius:0;color:#fff; border-color:#643D38; width:142px;margin-bottom:10px;"> <span class="linkedin" ><i class="fa fa-instagram"></i></span> | Instagram</a>
            </p>
            <p class="text-center" style="margin-bottom:20px;"><span style="border:1px solid #009688;border-radius:50%;padding:10px;background-color:#009688;color:#fff">OR</span></p>
            <form class="form-horizontal text-center">
              <div class="form-group" style="min-height:30px">
                <label for="inputEmail3" class="control-label sr-only">Full Name</label>
                <div class="col-sm-12">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Full Name" style="border-radius:0;">
                </div>
              </div>
              <div class="form-group" style="min-height:30px">
                <label for="inputEmail3" class="control-label sr-only" style="border-radius:0;">Email</label>
                <div class="col-sm-12">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
              </div>
              <div class="form-group" style="min-height:30px">
                <label for="inputPassword3" class=" control-label sr-only" style="border-radius:0;">Password</label>
                <div class="col-sm-12">
                  <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
              </div>
              <div class="form-group" style="min-height:30px">
               <label for="inputPassword3" class=" control-label sr-only" style="border-radius:0;">Confirm Password</label>
                <div class="col-sm-12">
                  <input type="password" class="form-control" id="inputPassword3" placeholder="Confirm Password">
                </div>
              </div>
            <form>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="padding:10px 40px 10px 10px;">
      <a href="#" class="pull-left ahover" style="padding-top: 8px;color:#009688" data-toggle="modal" data-target="#exampleModal">Already have an account? Login</a>
        <button type="button" class="btn btn-warning" style="background-color:#009688;border-color:#009688;border-radius:0;">Register</button>
      </div>
    </div>  
  </div>
</div>

<!-- Registration Modal Ends Here -->
